

	<!-- Header -->
<%- include('./partials/header.ejs') %> 
	<!-- /Header -->

	<!-- product detail -->
	<div class="container products-wrapper">
		
		 
		<div class="d-flex align-items-center">
			<h2 class='h2' class="products-title" >  <%= drinks.title %></h2 class='h2'> 
				<!-- boton de editar -->
				<% if (locals.user) { %>
			<p class="product-detail-description">
				<a href="/products/product-edit/<%= drinks.id %> ">Editar</a>
			</p>
			<% } %> 
		</div>
		
		<div class="product-detail">
			<div class="row">

				<article class="col-12 col-lg-8 product-detail-info">
					
				<ul>
					<li class="product-detail-description"><br>
					<img src="<%=drinks.cover %>" alt="<%=drinks.cover %>">					</li>
				</ul>
					
				</article>

				<div class="col-12 col-lg-4"  >
					
					<form action="/products" method="get" class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
		<!-- /product detail -->

		<br><br>

			<!-- Delete form  -->
			 	<!-- Que aparezca el boton de borrar solamente i se cumplen dos condiciones: usuario logueado  y quiero que ese usuario sea igual al que creo el producto-->
				 <% if (locals.user && user.id ==  drinks.user_id) { %> 
				 <form class="form" method='post' action="/products/<%= drinks.id  %>/delete "> 
				<div class="button-panel">
				<input  class="button" type="submit" value="borrar">
				</div>
		    </form>
			<% } %> 
	</div>


	<!-- /footer -->
<%- include('./partials/footer.ejs') %> 
	<!-- /footer -->

