

	<!-- Header -->
<%- include('./partials/header.ejs') %> 
	<!-- /Header -->

	<!-- product detail -->
	<div class="container products-wrapper">
		
		 
		<div class="d-flex align-items-center">
			<h2 class='h2' class="products-title" >  <%= drinks.title %></h2 class='h2'> 
				<div><h3   >Hecho por: <a href="/profile/detail/<%= drinks.owner.id %>"> <%= drinks.owner.username %></a></h3 > </div>
				<!-- boton de editar -->
				<% if (locals.user && user.id ==  drinks.user_id) { %>
			<p class="product-detail-description">
				<a href="/products/product-edit/<%= drinks.id %> ">Editar</a>
			</p>
			<% } %> 
		</div>
		
		<div class="product-detail">
			<div class="row">

				<article class="col-12 col-lg-8 product-detail-info">
					
				<ul>
					<li class="product-detail-description"><br>
					<img src="/images/uploads/<%=drinks.cover %>" alt="<%=drinks.cover %>">					</li>
				</ul>
					
				</article>

				<div class="col-12 col-lg-4"  >
					<section class="comments">
						<% drinks.comments.forEach(comment => { %>
						<article>
							<img src="<%=comment.author.img %>" alt="">
							<div class="data">
								<p class="user">
									<strong><a href="/profile/detail/<%=comment.author.id %>"><%=comment.author.username %></a></strong>
									<%=comment.comment %>
								</p>
							</div>
						</article>
						<% }) %>
					</section>
					<% if (locals.user) { %>
					
					<form action="/products/<%= drinks.id  %>/comment" class="form"  method="POST">
						<input class="form-input" name="comentario" type="text"  placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<% } %> 

					<hr>
				</div>
			</div>
		</div>
		<!-- /product detail -->

		<br><br>

			<!-- Delete form  -->
			 	<!-- Que aparezca el boton de borrar solamente i se cumplen dos condiciones: usuario logueado  y quiero que ese usuario sea igual al que creo el producto-->
				 <% if (locals.user && user.id ==  drinks.user_id) { %> 
				 <form class="form" method='post' action="/products/<%= drinks.id  %>/delete "> 
				<div class="button-panel">
				<input  class="button" type="submit" value="borrar">
				</div>
		    </form>
			<% } %> 
	</div>


	<!-- /footer -->
<%- include('./partials/footer.ejs') %> 
	<!-- /footer -->

