<!-- Header -->
<%- include('./partials/header.ejs') %> 
<!-- /Header -->

<!-- Novedades -->
<div class="container products-wrapper">
	
		</div>
		     <!-- Formulario para editar-->
		
			<div class="form-wrapper">
				<h1 class="formulario1">Editar producto</h1>
				<form class="form" method="post" enctype="multipart/form-data" >
					<div class="form-item">
						
						<input type="text" name="title" required="required" value="<%= drinks.title %>"></input>
						<input type="text" name="description" value="<%= drinks.description %>"> <br>
						<input type="number" name="price" value="<%= drinks.price %>"> <br>
					</div>
					<div class="button-panel">
					<input type="submit" class="button" title="Edit product " value="Editar"></input>
				  </div>
		
				</form>
			</div>
		

	</div>
</div>
</div>
<!-- footer -->
<%- include('./partials/footer.ejs')%>
<!-- /footer -->

