<!-- Header -->
<%- include('./partials/header.ejs') %> 
<!-- /Header -->

<!-- Novedades -->
<div class="container products-wrapper">
	<div class="row">
		<div class="col-12">
			<h2 class='h2' class="products-title">Editar un producto</h2 class='h2'>
		</div>
		     <!-- Formulario para editar-->
		
			<div class="form-wrapper">
				<h1 class="formulario1">Editar</h1>
				<form class="form" method="post" enctype="multipart/form-data" >
					<div class="form-item">
						
						<input type="text" name="title" required="required" value="<%= drinks.title %>"></input>
						<input type="text" name="description" value="<%= drinks.description %>"> <br>
						<input type="number" name="price" value="<%= drinks.price %>"> <br>
						<!-- <input type="hidden" name="updated_at" id="updated_at" > -->
					</div>
					<div class="button-panel">
					<input type="submit" class="button" title="Edit product " value="Editar"></input>
				  </div>
		
				</form>
			</div>
		

	</div>
</div>
</div>
<!-- footer -->
<%- include('./partials/footer.ejs')%>
<!-- /footer -->

