<!-- Header -->
<%- include('./partials/header.ejs') %> 
<!-- /Header -->

<!-- Novedades -->
<div class="container products-wrapper">
	<div class="row">
		<div class="col-12">
			<h2 class='h2' class="products-title"></h2 class='h2'>
		</div>
		     <!-- Formulario para editar-->
		
			<div class="form-wrapper">
				<h1 class="formulario1">Editar mi perfil</h1>
				<form class="form" method="post" enctype="multipart/form-data" >
					<div class="form-item">
						
					<input type="email" name="email" value="<%= user.email %>">
					<input type="text" name="username" value="<%= user.username %>">
					<input type="date" name="birthday" value="<%= user.birthday %>">
					<input type="file" name="img" value="<%= user.img %>">
					<div class="button-panel">
					<input type="submit" class="button" title="Edit product " value="Editar"></input>
				  </div>
		
				</form>
			</div>
		

	</div>
</div>
</div>
<!-- footer -->
<%- include('./partials/footer.ejs')%>
<!-- /footer -->

