
	<!-- Header -->
    <%- include('./partials/header.ejs') %> 

	<!-- /Header -->

	<!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img src="<%= user.userInfo.picture %>" alt="foto de perfil" class="foto-perfil">
			</div>
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h2 class="main-title"> <%= user.userInfo.name %> 
						<a href="/profile/profile-edit">
							<i class="fas fa-cog"></i>
						</a>
					</h2>
					<a class="btn mt-3 ml-4" href="">SEGUIR</a>
				</div>
				<div>
					<ul class="">
						<li><%= user.userInfo.email %></li>
						<br>
						<li>8 productos</li>
						<li>200 mill. seguidores</li>
						<li>300 comentarios</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- /Datos del usuario -->

	<!-- Mis productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class='h2' class="products-title">Mis productos</h2 class='h2'>
			</div>

			<% for (let i= 1; i < 9; i++) { %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="products">
							
							<figure class="product-box_image">
								
								<img src="<%=user.drinks[i].cover %>" alt="<%=user.drinks[i].description %>">
							</figure>
							<article class="product-box_data">
								<h2 class='h2'><%=user.drinks[i].title %></h2 class='h2'>
								<p><%=user.drinks[i].description %></p>
								<p>Comentarios: 12</p>
							</article>
	
						</a>
					</section>
				</div>
			<% } %>
		</div>
	</div>
	<!-- footer -->
	<%- include('./partials/footer.ejs') %> 
	<!-- /footer -->
